/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 31-oct-2017, 9:55:01
    Author     : kenma
*/
@font-face {
    src: url(Lobster-Regular.ttf");
}

.logo {

    -fx-font-size: 32pt;
    -fx-font-family: Lobster;
}
.background {

    -fx-background-color: rgb(245, 245, 245); 
}

.header {

    -fx-background-color: rgb(25, 117, 209); 
}

.card {  

    -fx-background-color: rgb(255, 255, 255);

}

.tree {
    -fx-font: 1.3em Lobster;
}
.headerText{
    -fx-text-fill: whitesmoke;
}

.node {
    
    -fx-background-radius: 10px;
}

.root {
    -fx-background-color: rgb(77, 128, 191); 
}

.dessicion {
    -fx-background-color: rgb(191, 77, 94); 
}

.leaft {
    -fx-background-color: rgb(77, 191, 84); 
}

.route {
    
    -fx-border-color: rgb(112,251,255);
    -fx-border-width: 2px;
}
