/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 31-oct-2017, 9:55:01
    Author     : kenma
*/
.logo {

    -fx-font-size: 32pt;
    -fx-font-family: "Lobster";
}
.loginBackground {

    /*-fx-background-image: url("/decision/means/vector.jpg");
    -fx-background-position: center center;*/
}

.header {
    -fx-background-color: rgba(255,255,255,0.75); 
    -fx-background-repeat: stretch; 
}


.tree {
    
    -fx-background-color: rgb(255, 255, 255);
    -fx-background-radius: 10px;
    
    -fx-border-color: rgb(218, 218, 218);
    -fx-border-radius: 10px;
}